    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }



    .bubble {
        fill: #4d89ce;
        fill-opacity: 0.5;
        stroke: #fff;
        stroke-width: 0.5px;
        /* position: absolute; */
        /* bottom: 0; */
        position: relative;
        z-index: 10;

    }

    .bubble :hover {
        stroke: #000;
    }
    
    /* Tooltip CSS */
    .d3-tip {
        line-height: 1.5;
        font-weight: 400;
        font-size: 12px;
        font-family: 'avenir next', Arial, sans-serif;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d5d3d3;
        background: #fff;
        color: #222426;
        pointer-events: none;
        position: absolute;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 8px;
        width: 100%;
        line-height: 1.5;
        color: #fff;
        position: absolute;
        pointer-events: none;
        user-select: none;
    }

    .fw {
        font-weight: 600;
    }
    .background {
        fill: none;
        pointer-events: all;
    }

    .ping {
        background: #fff;
        border-radius: 50%;
        border: 50px solid #222;
        width: 20px;
        height: 20px;
        animation: load 1.5s ease-out infinite;
    }

    @keyframes load {
        0% {
            fill: #4d89ce;
            border: 0px solid #fff;
        }

        50% {
            fill: #4d89ce;
            border: 100px solid #222;
        }

        100% {
            fill: #4d89ce;
            border: 0px solid #222;
        }
    }